-
    var phases = [
    'Систола предсердий',
    'Закрытие предсердно-желудочковых клапанов',
    'Сокращение межжелудочковой перегородки',
    'Сокращение стенок желудочков',
    'Напряжение мышц сердца',
    'Открытие клпанов и быстрое изгнание крови',
    'Медленное изгнание крови',
    'Создание максимального систолического давления в аорте',
    'Закрытие полулунных клапанов',
    'Ранняя диастола желудочков'
    ];
+b.sample
    +e('h1').title Фазы сердечного цикла,<br>диагноз и рекомендации
    .container
        +b.ecg
            +e.graph
                include ../../images/svg/ecg-rheo.svg

        +b.table
            +e('input').ecg.js-ecg-range
            +b.phases
                +e.heart
                    include ../../images/svg/heart.svg
                +e.list.js-active-phase
                    each phase in phases
                        +e.list-item=phase
            +b('table').diagnosis.js-diagnosis


