+b.sample
    +e('h1').title Фазы сердечного цикла,<br>диагноз и рекомендации
    .container
        +b.ecg
            +e.range-wrapper
                +e('input').range.js-ecg-range
            +e.graph
                include ../../images/svg/ecg-rheo.svg
        +b.table
            +b.phase
                +e.content
                    +e.phase-item Фаза цикла
                    +e('h2').phase-title.js-phase-title Систола предсердий
                    +e.ccc.js-number 0
                +e.heart
                    include ../../images/svg/heart.svg
            +e('table').diagnosis.js-table




