+b.sample
    +e('h1').title Фазы сердечного цикла,<br>диагноз и рекомендации
    .container
        +b.ecg
            +e.range-wrapper
                +e('input').range.js-ecg-range
            +e.graph
                include ../../images/svg/ecg-rheo.svg
        +b.table
            +b.phase
                +e.content
                    +e.phase-item Фаза цикла
                    +e('h2').phase-title.js-phase-title Систола предсердий
                    +e.ccc.js-number 0
                +e.heart
                    include ../../images/svg/heart.svg
            +e('table').diagnosis.js-table
                +e('tr').row
                    +e('td').cell.head Выявляемые физиологические, функциональные, метаболические и другие изменения
                    +e('td').cell Признаки перикардита
                    +e('td').cell Снижение кровенаполнения коронарных артерий
                +e('tr').row
                    +e('td').cell.head ЭКГ признаки
                    +e('td').cell Изменение амплитуды Р-Q фазы при ортопробе
                    +e('td').cell Несколько Р волн
                +e('tr').row
                    +e('td').cell.head Возможные последствия
                    +e('td').cell Снижение двигательной активности, возможные внезапные короткие головокружения
                    +e('td').cell Предынфарктное состояние. Развитый кардиосклероз
                +e('tr').row
                    +e('td').cell.head Рекомендации
                    +e('td').cell
                        p 1. Комплексное лечение направленное на нормализацию кислотно – щелочного баланса организма
                        p 2. Сбалансированное питание
                        p 3. Волновая – резонансная терапия прибором «ЭЖ-2»
                        p 4. Регулярные физические занятия
                    +e('td').cell
                        p 1. Волновая – резонансная терапия прибором «ЭЖ-2»
                        p 2. Настойка «Гинкготропил», «Нуксен 6»
                        p 3. Дыхательный тренажёр
                        p 4. Иглотерапия
                        p 5. L – карнитин, «Мексикор», хвойный (кедровый) бальзам


