.sample {
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 30px;
  }
}
.ecg {
  position: relative;
  width: 40%;
  border: 1px solid red;
  &__range-wrapper {
    padding-left: 8px;
  }
  &__graph {

  }
}
.table {
  width: 59%;
  border: 1px solid red;
  &__diagnosis {
    width: 100%;
    border: 1px solid black;
    & td {
      padding: 5px;
      border: 1px solid black;
    }
    & tbody tr td:first-child {
      width: 300px;
    }
  }
  &__cell {
    vertical-align: top;
  }
  &__phase-item {
    margin-top: 20px;
  }
  &__phase-title {

    font-size: 30px;
  }
}
.phases {
  display: flex;
  margin-top: 20px;
  &__heart {
    width: 250px;
  }
  &__list {
    flex-grow: 1;
    margin-left: 15px;
  }
}
