.sample {
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 30px;
  }
}
.ecg {
  position: relative;
  width: 51%;
  border: 1px solid red;
  &__graph {

  }
}
.table {
  width: 48%;
  border: 1px solid red;
}
.phases {
  display: flex;
  margin-top: 20px;
  &__heart {
    width: 250px;
  }
  &__list {
    flex-grow: 1;
    margin-left: 15px;
  }
}
