.sample {
  .container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    font-size: 30px;
  }
}
.ecg {
  position: relative;
  width: 48%;
  border: 1px solid red;
  &__graph {

  }
}
.table {
  width: 48%;
  border: 1px solid red;
}